<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <span class="navbar-brand" >LOGO</span>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <span >search here</span>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>Имя пользователя</li>
      <li>
        <div class="img-color-circle"><img src="assets\img\user.svg" class="img-circle" width="40" height="40"></div>
      </li>
    </ul>
  </div>
</nav>