<div class="container fill vertical-align">
    <div>
        <div class="title">
            <p class="logo">logo</p>
            <p class="welcome">Добро пожаловать!</p>
        </div>
        <div class="whiteblock">
            <div class="textchoose">
                <p class="login">Войдите в аккаунт</p>

                <p class="register">или
                    <a [routerLink]="['/register']" class="link">Cоздайте аккаунт</a>
                </p>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <label for="email"></label>
                    <input type="email" class="form-control" name="email" placeholder="E-mail" [(ngModel)]="model.email" #email="ngModel" required
                        email />

                    <div *ngIf="email.errors && (email.dirty && email.touched)" class="alerts">
                        <br>
                        <div [hidden]="!email.errors.required">
                            Email необходим.
                        </div>
                        <div [hidden]="!email.errors.email">
                            Введите корректный email.
                        </div>
                    </div>


                    <!-- <div *ngIf="f.submitted && !email.valid" class="help-block">E-mail необходим</div> -->
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password"></label>
                    <input type="password" class="form-control" name="password" placeholder="Пароль" [(ngModel)]="model.password" #password="ngModel"
                        required minlength="6" maxlength="50" />

                    <div *ngIf="password.errors && (password.dirty && password.touched)" class="alerts">
                        <br>
                        <div [hidden]="!password.errors.required">
                            Пароль необходим.
                        </div>
                        <div [hidden]="!password.errors.minlength">
                            Минимальная длинна пароля 6 символов.
                        </div>
                        <div [hidden]="!password.errors.maxlength">
                            Максимальная длинна пароля 50 символов.
                        </div>
                    </div>
                    <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Пароль необходим</div> -->
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="button">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
<simple-notifications [options]="options"></simple-notifications>