<div class="container fill vertical-align">
    <div class="col-sm-8 col-sm-offset-2 ">
        <div class="col-md-6 col-md-offset-3 ">
            <div class="title">
                <p class="logo">logo</p>
                <p class="welcome">Добро пожаловать!</p>
            </div>
            <div class="whiteblock">
                <div class="textchoose"><p class="login">Войдите в аккаунт</p>
                
                    <p class="register">или <a [routerLink]="['/register']" class="link">Cоздайте аккаунт</a></p>
                </div>
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <label for="username"></label>
                        <input type="text" class="form-control" name="username" placeholder="E-mail" [(ngModel)]="model.username" #username="ngModel"
                            required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">E-mail необходим</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <label for="password"></label>
                        <input type="password" class="form-control" name="password" placeholder="Пароль" [(ngModel)]="model.password" #password="ngModel"
                            required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Пароль необходим</div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="button">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>