.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.img-color-circle {
    background-color:#ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.img-circle{
    padding: 5px;
}

.text-name{
    padding: 15px;
}

.img-border{
    padding: 5px;
}
.logout{
    padding: 15px;
    padding-right: 25px;
}
.navcustom{
    background-color: white;
}

.link{
    color: rgba(85, 85, 85, 0.85);
 }