<nav class="navbar-fixed-top navcustom">

  <div>
    <span class="navbar-brand">LOGO</span>
  </div>
  <div class="navbar-left">
    <form class="navbar-form" role="search">
      <div class="input-group search-group">
        <div class="input-group-btn">
          <button type="button" class="btn search-buttons">  
              <img src="assets\icons\search.svg" width="20" height="20">
          </button>
        </div>
        <input type="text" class="form-control search-holder" placeholder="Поиск файлов">
        <div class="input-group-btn">
          <button type="button" class="btn search-buttons dropdown-toggle" data-toggle="dropdown">
              <span><img src="assets\icons\next.svg" width="15" height="15" class="rotateimg90"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class="droplist-el" href="#">
                  <span class="droplist-el">Поиск по файлам</span>
              </a>
            </li>
            <li>
              <a class="droplist-el" href="#">
                <span class="droplist-el">Поиск по тегам</span>
                </a>
            </li>
          </ul>
        </div>

      </div>
    </form>
  </div>
  <ul class="nav navbar-nav navbar-right">

    <li *ngIf="currentUser" class="text-name right-block">{{currentUser.name}}</li>
    <li>
      <div>
        <div class="img-color-circle right-block"><img src="assets\img\user.svg" class="img-circle"></div>
      </div>
    </li>
    <li>
      <div class="logout right-block">

        <a [routerLink]="['/login']" class="link">
          <span><img src="assets\icons\next.svg" width="30" height="30"></span>
        </a>

      </div>
    </li>

  </ul>
  <div class="bottom-navbar">
    <div>
      <div class="navbar-left">
        <div class="text-myfiles">Мои файлы
        </div>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><button class="access-params">Настройки доступа</button></li>
      <li class="text-right">Сортировка
        <button type="button" class="btn sort-button dropdown-toggle" data-toggle="dropdown">
          <span><img src="assets\icons\next.svg" width="15" height="15" class="rotateimg90"></span>
      </button>
        <div class="dropdown-menu">
          <li>
            <a class="droplist-el" href="#">
                <span class="droplist-el">По дате создания</span>
                </a>
          </li>
          <li>
            <a class="droplist-el" href="#">
              <span class="droplist-el">По дате добавления</span>
              </a>
          </li>
          <li>
              <a class="droplist-el" href="#">
              <span class="droplist-el">По размеру</span>
              </a>
            </li>
        </div>
      </li>
      <li>
        <div class="divicons">
          <span class="icons"><img src="assets\icons\list.svg" width="30" height="30"></span>
          <span class="icons"><img src="assets\icons\tile.svg" width="30" height="30"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>