<app-menu>
</app-menu>
<div class="placefornav">

</div>
<div class="container vertical-align">
  <div>
    <div class="success">Вы успешно зарегистрированы!</div>
    <div class="row">
      
        <div class="text">Теперь вы можете начать использовать LOGO! <br>Загружайте свои файлы и делитесь ими <br>с остальными пользователями!</div>

    </div>

    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-md-6 col-md-offset-3">
        <button class="button" data-toggle="modal" data-target="#createFolderModal">Создать папку</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="createFolderModal" role="dialog" >
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Создание папки</h4>
            </div>
            <div class="modal-body">
              <form name="form" (ngSubmit)="f.form.valid && createfolder()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !foldername.valid }">
                  <label for="foldername"></label>
                  <input type="text" class="form-control" name="foldername" placeholder="Имя пользователя" [(ngModel)]="model.foldername" #foldername="ngModel"
                    required maxlength="50" />
                  <div *ngIf="foldername.errors && (foldername.dirty && foldername.touched)" class="alerts"><br>
                    <div [hidden]="!foldername.errors.required">
                      Имя папки необходимо.
                    </div>
                    <div [hidden]="!foldername.errors.maxlength">
                      Максимальная длинна папки 50 символов.
                    </div>
                  </div>
                  <!-- <div *ngIf="f.submitted && !name.valid" class="help-block">Имя пользователя необходимо</div> -->
                </div>
                <div class="form-group">
                  <button [disabled]="loading" class="button">Готово</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal" #closeBtn>Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>Папки</h3>
<div class="row">
  <div class="col-md-4" *ngFor="let folder of folders | async">
    <div class="thumbnail">
        <h4>
          <div (dblclick)="moveToSelectedFolder(folder.folderId)">{{ folder.name }}</div>
        </h4>      
    </div>
  </div>
</div>
<h3>Файлы</h3>
<div class="row">
  <div class="col-md-4" *ngFor="let folder of folders | async">
    <div class="thumbnail">
        <h4>
          <div (dblclick)="moveToSelectedFolder(folder.folderId)">{{ folder.name }}</div>
        </h4>      
    </div>
  </div>
</div>